@page
@model IndexModel
@{
    ViewData["Title"] = "Upload File";
}

<h2>Upload File</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="UploadedFile" />
    <button type="submit" asp-page-handler="ProcessExcel">Upload & Process</button>
</form>

<form method="post">
    <button type="submit">Test DB</button>
</form>

@if (Model.UploadedFile != null)
{
    <p>File uploaded successfully: @Model.UploadedFile.FileName</p>
}
@if (TempData["Success"] != null && (bool)TempData["Success"])
{
    <div class="mt-3">
        <a asp-page-handler="DownloadFile" class="btn btn-success">Download Processed File</a>
    </div>
}